<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        Sobre o Sistema Gerenciador de Tarefas
      </h1>
      <p class="text-center">
        Trabalho desenvolvido durante a disciplina Programação Para Web do Curso Técnico em Informática do
        Colégio Politécnico da Universidade Federal de Santa Maria (UFSM) ministrada pelo professo Glênio Descovi no
        primeiro semestre de 2024.
      </p>
      <h2 class = "text-center mb-4">Repositório</h2>
      <p class="text-center">O código fonte do trabalho pode ser encontrado no <a href="https://github.com/martinez-gustavo/gerenciador-tarefas">GitHub</a></p>
    </div>
  </div>
</div>
